tello.pyc
__pycache__/stats.cpython-37.pyc
__pycache__/tello.cpython-37.pyc
stats.pyc
.vscode/settings.json
.vscode/launch.json
example_2_키보드조작/__pycache__/tello.cpython-37.pyc
pygameVersion/__pycache__/tello.cpython-37.pyc
example_3_비디오인식/__pycache__/tello.cpython-37.pyc
example_3_비디오인식/__pycache__/stats.cpython-37.pyc
example_2_키보드조작/__pycache__/stats.cpython-37.pyc
.vscode/ipch/d7481ef7c2d72796/mmap_address.bin
